<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Administrator Page</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="..\styles\admin_style.css">
  </head>
  <body>
    <h1>List of Users</h1>
      <table id="table_table">
            <tr>
              <td class="tableHead">Usernames</td>
              <td class="tableHead">Password</td>
            </tr>
      </table>
      <div>
        Edit or Create User
          <input class:"textAreaDiv" type="text" id="newUserName_input" placeholder="New Username">
          <input class:"textAreaDiv" type="text" id="newUserPassword_input" placeholder="New Password">
          <button class:"buttonDiv" onclick="changeUserData()">Change</button>
          <button class:"buttonDiv" onclick="newUser()">Create</button>
      </div>
      <div>
        Delete User
          <input type="text" id="deleteUser_input" placeholder="Username to Delete">
          <button onclick="deleteUser()">Delete</button>
      </div>
      <script src="../codes/admin.js"></script>
  </body>
</html>
