<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cool chat!</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../styles/chat_style.css">
</head>
<body style="margin: 0 0 0 0; padding: 0 0 0 0;">
        <div id="chatroom_div" style="">
        </div>
        <div id="write_div" style="">
            <input type="text" id="message"><br>
            <br><button onclick="sendMessage()">Submit</button>
        </div>
    
    <script src="../codes/chat.js"></script>
</body>
</html>