<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>LogIn</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--Jquery-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../styles/login_style.css">
  </head>
  <body>
    <div id="login_div">
      <form action="/home" method="POST" id="login_form">
        <input type="text" id="userName_input" name="userName" placeholder="User Name">
        <input type="password" id="userPass_input" name="userPass" placeholder="Password"><br>
        <br><button type="submit" id="login_button">Login</button> <button type="reset" id="delete_button">Delete</button>
        <a href="/signin" id="signin_link">Sign in</a>
      </form>
    </div>
  </body>
</html>
