<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/signup_style.css">
</head>
<body>
    <div id="signin_div">
        <form action="/register" method="POST" id="signin_form">
            <td><input type="text" id="newEmail_input" name="newEmail" placeholder="Email"></td>
            <td><input type="text" id="newUserName_input" name="newUserName" placeholder="User Name"></td>
            <td><input type="password" id="newUserPass_input" name="newUserPass" placeholder="Password"></td>
            <button type="submit">Sign up</button>
        </form>
    </div>
</body>
</html>