body{
  background-color: #1B2429;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 4vw;
  color: white;
}
div{
  padding: 1%;
  border: 5px solid #1B2429;
  text-align: left;
  font-family: 'Lucida Sans', Arial;
  font-size: 2vw;
  background-color: #FE9627;
  width: 45%;
}
table, th, td{
  text-align: center;
  vertical-align: middle;
  border: 5px solid #1B2429;
}
table{
  border-collapse: collapse;
  width: 100%;
}
td.tableHead{
  padding: 8px;
  background-color: #FE9627;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
}
td.tableBody1{
  padding: 8px;
  font-family: 'Lusida Sans', Arial;
  font-size: 2vw;
  background-color: #feb567;
}
td.tableBody2{
  padding: 8px;
  font-family: 'Lusida Sans', Arial;
  font-size: 2vw;
  background-color: #a2b7c3;
}
input{
  width: 50%;
  font-family: 'Lucida Sans', Arial;
  font-size: 2vw;
  border: solid #1B2429;
  background-color: #DCDCDC;
}
button{
  width: 20%;
  align: center;
  font-size: 2vw;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: #1B2429;
  color: white;
}
