body{
  background-color: white;
}
#message{
  width: 98%;
  font-family: 'Lucida Sans', Arial;
  border: 1px solid gray;
  background-color: white;
  text-align: justify;
  vertical-align: top;
  padding: 1% 1% 1%;

}
button{
  width: auto;
  font-size: 2vw;
  cursor: pointer;
  border: 1px solid gray;
  text-decoration: none;
  background-color: gray;
  color: white;
  padding: 1% 1% 1% 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
#write_div{
    height: 80px;
    width: 60%;
    text-align: left;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#chatroom_div{
    border: 1px solid gray;
    height: 400px;
    width: 60%;
    background-color: #ffffff;
    overflow: auto;
    font-family: 'Lucida Sans', Arial;
    scroll-behavior: smooth;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 1%;
}
