
#login_div{
    padding-top: 19%;
    padding-bottom: 19%;
    padding-right: 25%;
    padding-left: 25%;
}
#login_form{
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
}
#send_button{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#userName_input{
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: left
}
#userPass_input{
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: left;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}