body{
  background-color: white;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#login_div{
  height: 400px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

#userName_input{
  height: 40px;
  width: 60%;
  text-align: justify;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%; 
  font-family: 'Lucida Sans', Arial;
}
#userPass_input{
  height: 40px;
  width: 60%;
  text-align: justify;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Lucida Sans', Arial;
}
#login_button{
  font-family: 'Lucida Sans', Arial;
  width: auto;
  font-size: 2vw;
  cursor: pointer;
  border: 1px solid gray;
  text-decoration: none;
  background-color: gray;
  color: white;
  padding: 1% 1% 1% 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
}
#delete_button{
  font-family: 'Lucida Sans', Arial;
  width: auto;
  font-size: 2vw;
  cursor: pointer;
  border: 1px solid gray;
  text-decoration: none;
  background-color: gray;
  color: white;
  padding: 1% 1% 1% 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 20%
}
#signin_link{
  font-family: 'Lucida Sans', Arial;
  margin-top: 2%;
  text-align: justify
}
