body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: white;
}

#signin_div{
    height: 400px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

#newUserName_input{
    height: 40px;
    width: 60%;
    text-align: justify;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%; 
    font-family: 'Lucida Sans', Arial;
}
#newEmail_input{
    height: 40px;
    width: 60%;
    text-align: justify;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%; 
    font-family: 'Lucida Sans', Arial;
}
#newUserPass_input{
    height: 40px;
    width: 60%;
    text-align: justify;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%; 
    font-family: 'Lucida Sans', Arial;
}
button{
    font-family: 'Lucida Sans', Arial;
    width: auto;
    font-size: 2vw;
    cursor: pointer;
    border: 1px solid gray;
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 1% 1% 1% 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
}